@*Vista acceso denegado*@

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<style>
	.container-alert{
			display:flex;
		justify-content:center;
	}
	.alert-acces {
		width:50%;
	}
</style>
<div class="container-alert">
	<div class="alert alert-danger alert-acces">¡Acceso Denegado!</div>
</div>

